<div class="create-profile-container panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sign Up</h3>
  </div>
  <div class="panel-body">
     <form id="create-profile" action="/users" method="post" class="sign-up">
       <fieldset class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="user[username]" placeholder="username" class="form-control">
        <label for="password">Password:</label>
        <input type="password" name="user[password]" placeholder="password" class="form-control">
        <label for="firstName">First Name:</label>
        <input type="text" name="user[profile][firstName]" placeholder="First Name" class="form-control">
        <label for="lastName">Last Name:</label>
        <input type="text" name="user[profile][lastName]" placeholder="Last Name" class="form-control">
        <label for="birthdate">Date of Birth:</label>
        <input type="date" name="user[profile][birthdate]" class="form-control">
        <label for="gender">Gender:</label>
        <select class="gender" name="user[profile][gender]" class="form-control">
          <option value=" ">Select One</option>
          <option value="Not Specified">Not Specified</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        <label for="illness">Illness:</label>
        <input type="text" name="user[profile][illness]" placeholder="Illness" class="form-control">
        <label for="phoneNum">Contact Number:</label>
        <input type="tel" name="user[profile][phoneNum]" placeholder="XXX-XXX-XXXX" class="form-control">
        <input type="submit" class="btn btn-primary" value="Create Profile">
        <a id="open-login" class="btn btn-primary">Log In</a>
      </fieldset>
    </form>
  </div>
</div>
