<div class="modal new-appointments-modal">
  <div class="appointments-modal-content">
    <div id="close-add-appt-modal">
      <p>X</p>
    </div>
    <h2>Appointments</h2>
    <form id="appointments" action="/users/appointments" method="post">
      <label for="apptDate">Date:</label>
      <input type="date" name="apptDate" required>
      <label for="apptTime">Time:</label>
      <input type="text" name="apptTime" placeholder="HH:MM AM/PM" required>
      <label for="apptLocation">Location:</label>
      <input type="text" name="apptLocation" placeholder="Location" required>
      <label for="apptDoctor">Doctor:</label>
      <input type="text" name="apptDoctor" placeholder="Doctor" required>
      <label for="apptPhoneNum">Contact Number:</label>
      <input type="text" name="apptPhoneNum" placeholder="XXX-XXX-XXXX" required>
      <label for="apptCoPay">Copay:</label>
      <input type="number" name="apptCoPay" placeholder="Copay" min=0 required>
      <label for="apptNotes">Notes:</label>
      <input type="text" name="apptNotes" placeholder="Notes" required>
      <input type="submit" name="apptAdd" value="Add">
    </form>
  </div>
</div>
