<meta charset="UTF-8">
<title>Project #3</title>

<!-- STYLES -->
<link href='https://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/styles.css">

<!-- SCRIPTS  -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr8jVAVs1Ye_28E9Y_w-TlsT3uPDu64Pg&libraries=places"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" charset="utf-8"></script>
<script src="js/meds.js" charset="utf-8"></script>
<script src="js/foods.js" charset="utf-8"></script>
<script src="js/appts.js" charset="utf-8"></script>
<script src="js/scripts.js" charset="utf-8"></script>
