<h2>Login</h2>
<form id='log-in' action="/users/authenticate" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="username">
  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Log In">
  <button id="log-out">Sign Out</button>
</form>
