<div class="modal new-food-modal">
  <div class="restrictions-modal-content">
    <div id="close-add-food-modal">
      <p>X</p>
    </div>
    <h2>Dietary Restrictions</h2>
    <form id="foodRestrictions" action="/users/foodRestrictions" method="post" required>
      <label for="foodRestrictionsName">Restriction:</label>
      <input type="text" name="foodRestrictionsName" placeholder="Food" required>
      <label for="foodRestrictionsNotes">Notes:</label>
      <input type="text" name="foodRestrictionsNotes" placeholder="Notes" required>
      <input type="submit" name="foodRestrictionAdd" value="Add">
    </form>
  </div>
</div>
