<div class="main sidebar-container clearfix">
   <nav class="sidebar">
       <ul>
<<<<<<< aa496f5e9f31ab03ffdf5e984bbed18fe4b4fd60
           <li class="logo"><img src="/images/LOGO.png"></a></li>
           <li><a href="#" class="profile-icon"><i class="fa fa-user"></i></a></li>
           <li><a href="#" class="medicine-icon"><i class="fa fa-medkit"></i></a></li>
           <li><a href="#" class="food-icon"><i class="fa fa-cutlery"></i></a></li>
           <li><a href="#" class="calendar-icon"><i class="fa fa-calendar"></i></a></li>
=======
           <li class="logo"><img src="/images/LOGOwText.png"></a></li>
           <li><a href="#" class="button1"><i class="fa fa-user"></i></a></li>
           <li><a href="#" class="button2"><i class="fa fa-medkit"></i></a></li>
           <li><a href="#" class="button3"><i class="fa fa-cutlery"></i></a></li>
           <li><a href="#" class="button4"><i class="fa fa-calendar"></i></a></li>
>>>>>>> adds readme, and logo
       </ul>
     </nav>
</div>
