<div class="main sidebar-container clearfix">
  <nav class="sidebar">
    <ul>
      <li class="logo"><a href="#"></a><img src="/images/gradientlogo3.png"></a></li>
      <li><a href="#" class="profile-icon"><i class="fa fa-user"></i></a></li>
      <li><a href="#" class="calendar-icon"><i class="fa fa-calendar"></i></a></li>
      <li><a href="#" class="medicine-icon"><i class="fa fa-medkit"></i></a></li>
      <li><a href="#" class="food-icon"><i class="fa fa-cutlery"></i></a></li>
   </ul>
  </nav>
</div>
