<div class="main-container clearfix">
   <nav>
       <ul>
           <li class="logo"><img src="/images/LOGO.png"></a></li>
           <li><a href="#" class="button1"><i class="fa fa-user"></i></a></li>
           <li><a href="#" class="button2"><i class="fa fa-medkit"></i></a></li>
           <li><a href="#" class="button3"><i class="fa fa-cutlery"></i></a></li>
           <li><a href="#" class="button4"><i class="fa fa-calendar"></i></a></li>
       </ul>
     </nav>
</div>
