<link rel="stylesheet" href="css/sidebar.css">

<div class="main-container clearfix">
   <nav>
       <ul>
           <li class="logo"><a href="#"></a></li>
           <li><a href="#" class="button1"></a></li>
           <li><a href="#" class="button2"></a></li>
           <li><a href="#" class="button3"></a></li>
           <li><a href="#" class="button4"></a></li>
           <li><a href="#" class="button5"></a></li>
           <li><a href="#" class="button6"></a></li>
       </ul>
     </nav>
</div>
