<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>

  </head>
  <body>

         <!-- SIDEBAR -->
   <div class="main-container clearfix">
      <nav class="sidebar">
          <ul>
              <li class="logo"><img src="/images/LOGO.png"></a></li>
              <li><a href="#" class="button1"><i class="fa fa-user"></i></a></li>
              <li><a href="#" class="button2"><i class="fa fa-medkit"></i></a></li>
              <li><a href="#" class="button3"><i class="fa fa-cutlery"></i></a></li>
              <li><a href="#" class="button4"><i class="fa fa-calendar"></i></a></li>
          </ul>
        </nav>
   </div>

  <div class="container">
     <div class="content">



    <div id="display-profile">
    </div>

    <div id="display-medications">

    </div>

    <div id="display-appointments">

    </div>

    <div id="display-foods">

    </div>
    <% include partials/account.ejs %>

    <% include partials/login.ejs %>

    <% include partials/appointments.ejs %>

    <% include partials/medication.ejs %>

    <% include partials/restrictions.ejs %>
   </div>
</div>

  </body>
</html>
