<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head.ejs %>
</head>
<body>

  <div id="profile">

  </div>

  <div id="display-medications">

  </div>

  <h2>Create Account</h2>
  <form id="create-profile" action="/users" method="post" class="sign-up">
    <label for="username">Username:</label>
    <input type="text" name="user[username]" placeholder="username">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="user[password]" placeholder="password">
    <br>
    <label for="firstName">First Name</label>
    <input type="text" name="createFirstName" placeholder="First Name">
    <br>
    <label for="lastName">Last Name</label>
    <input type="text" name="createLastName" placeholder="Last Name">
    <br>
    <label for="birthdate">Date of Birth</label>
    <input type="date" name="createBirthdate">
    <br>
    <label for="gender">Gender</label>
    <select class="gender" name="createGender">
      <option value="blank">Select One</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
    <br>
    <label for="phoneNum">Contact Number</label>
    <input type="tel" name="createPhoneNum" placeholder="XXX-XXX-XXXX">
    <br>
    <input type="submit" value="Create Profile">
  </form>

  <h2>Log-In!</h2>
  <form id='log-in' action="/users/authenticate" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="username">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="password">
    <br>
    <input type="submit" value="Log In">
    <button id="log-out">Sign Out</button>
  </form>

    <h2>Update Profile</h2>
    <form id="update-profile" method="patch">
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" placeholder="First Name">
      <br>
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" placeholder="Last Name">
      <br>
      <label for="birthdate">Date of Birth:</label>
      <input type="date" name="birthdate">
      <br>
      <label for="gender">Gender:</label>
      <select class="gender" name="gender">
        <option value="blank">Select One</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <br>
      <label for="phoneNum">Contact Number:</label>
      <input type="tel" name="phoneNum" placeholder="XXX-XXX-XXXX">
      <br>
      <input type="submit" value="Update Profile">
    </form>

    <h2>Appointments</h2>
    <form id="appointments" action="/users/appointments" method="post">
      <label for="appDate">Date:</label>
      <input type="date" name="appDate">
      <br>
      <label for="appLocation">Location:</label>
      <input type="text" name="appLocation" placeholder="Location">
      <br>
      <label for="appDoctor">Doctor:</label>
      <input type="text" name="appDoctor" placeholder="Doctor">
      <br>
      <label for="appPhoneNum">Contact Number:</label>
      <input type="text" name="appPhoneNum" placeholder="XXX-XXX-XXXX">
      <br>
      <label for="appCoPay">Copay:</label>
      <input type="number" name="appCoPay" placeholder="Copay">
      <br>
      <label for="appNotes">Notes:</label>
      <input type="text" name="appNotes" placeholder="Notes">
      <br>
      <input type="submit" value="Add Appointment">
    </form>

    <h2>Medication</h2>
    <form id="medication" action="/users/medications" method="post">
      <label for="medName">Medication:</label>
      <input type="text" name="medName" placeholder="Name">
      <br>
      <label for="medDosage">Dosage:</label>
      <input type="text" name="medDosage" placeholder="Dosage">
      <br>
      <label for="medSideEffects">Side Effects:</label>
      <input type="text" name="medSideEffects" placeholder="Side Effects">
      <br>
      <label for="medTime">Time:</label>
      <input type="text" name="medTime" placeholder="Time">
      <br>
      <label for="medCoPay">Copay:</label>
      <input type="text" name="medCoPay" placeholder="Copay">
      <br>
      <input type="submit" value="Add Medication">
    </form>

    <h2>Food Restrictions</h2>
    <form id="foodRestrictions" action="/users/foodRestrictions" method="post">
      <label for="foodRestrictionsName">Restriction:</label>
      <input type="text" name="foodRestrictionsName" placeholder="Food">
      <br>
      <label for="foodRestrictionsNotes">Notes:</label>
      <input type="text" name="foodRestrictionsNotes" placeholder="Notes">
      <br>
      <input type="submit" value="Add Food Restriction">
    </form>

</body>
</html>
