<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head.ejs %>
</head>
<body>

  <h2>Create Account</h2>
  <form id="create-profile" action="/users" method="post" class="sign-up">
    <label for="username">Username:</label>
    <input type="text" name="user[username]" placeholder="username">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="user[password]" placeholder="password">
    <br>
    <label for="firstName">First Name</label>
    <input type="text" name="createFirstName" placeholder="First Name">
    <br>
    <label for="lastName">Last Name</label>
    <input type="text" name="createLastName" placeholder="Last Name">
    <br>
    <label for="birthdate">Date of Birth</label>
    <input type="date" name="createBirthdate">
    <br>
    <label for="gender">Gender</label>
    <select class="gender" name="createGender">
      <option value="blank">Select One</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
    <br>
<<<<<<< HEAD
    <label for="phoneNum">Contact Number:</label>
    <input type="tel" name="phoneNum" placeholder="XXX-XXX-XXXX">
=======
    <label for="phoneNum">Contact Number</label>
    <input type="tel" name="createPhoneNum" placeholder="XXX-XXX-XXXX">
>>>>>>> adds basic rendering of all profile info
    <br>
    <input type="submit" value="Create Profile">
  </form>

  <h2>Log-In!</h2>
  <form id='log-in' action="/users/authenticate" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="username">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="password">
    <br>
    <input type="submit" value="Log In">
    <button id="log-out">Sign Out</button>
  </form>

    <ul id="dummy">

    </ul>

    <h2>Update Profile</h2>
    <form id="update-profile" method="patch">
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" placeholder="First Name">
      <br>
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" placeholder="Last Name">
      <br>
      <label for="birthdate">Date of Birth:</label>
      <input type="date" name="birthdate">
      <br>
      <label for="gender">Gender:</label>
      <select class="gender" name="gender">
        <option value="blank">Select One</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <br>
      <label for="phoneNum">Contact Number:</label>
      <input type="tel" name="phoneNum" placeholder="XXX-XXX-XXXX">
      <br>
      <input type="submit" value="Update Profile">
    </form>

    <!-- <form id="update-profile" method="patch">
      <input type="text" name="firstName" placeholder="First name">
      <input type="text" name="lastName" placeholder="Last name">
      <input type="submit" value="Update Profile">
    </form> -->

</body>
</html>
