<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <button class="btn btn-primary" id="log-out">Sign Out</button>
  <!-- SIDEBAR -->
  <% include partials/sidebar.ejs %>
  <div class="container">
    <div class="content">


      <div id="display-profile">
      </div>

      <div id="display-medications">
      </div>

      <div id="display-appointments">
      </div>

      <div id="display-foods">
      </div>

      <% include partials/login.ejs %>
      <% include partials/account.ejs %>
      <% include partials/appointments.ejs %>
      <% include partials/medication.ejs %>
      <% include partials/restrictions.ejs %>

      <div id="display-illness-info" class="modal">
      </div>

   </div>
  </div>

  </body>
</html>
