<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>

  </head>
  <body>

    <div id="display-profile">

    </div>

    <h3>Medications</h3>
    <div id="display-medications">

    </div>

    <h3>Appointments</h3>
    <div id="display-appointments">

    </div>

    <h3>Food Restrictions</h3>
    <div id="display-foods">

    </div>

    <h2>Create Account</h2>
    <form id="create-profile" action="/users" method="post" class="sign-up">
      <label for="username">Username:</label>
      <input type="text" name="user[username]" placeholder="username">
      <label for="password">Password:</label>
      <input type="password" name="user[password]" placeholder="password">
      <label for="firstName">First Name:</label>
      <input type="text" name="createFirstName" placeholder="First Name">
      <label for="lastName">Last Name:</label>
      <input type="text" name="createLastName" placeholder="Last Name">
      <label for="birthdate">Date of Birth:</label>
      <input type="date" name="createBirthdate">
      <label for="gender">Gender:</label>
      <select class="gender" name="createGender">
        <option value="Not Specified">Select One</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <label for="illness">Illness:</label>
      <input type="text" name="illness" placeholder="Illness">
      <label for="phoneNum">Contact Number:</label>
      <input type="tel" name="createPhoneNum" placeholder="XXX-XXX-XXXX">
      <input type="submit" value="Create Profile">
    </form>

    <h2>Login</h2>
    <form id='log-in' action="/users/authenticate" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="username">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Log In">
      <button id="log-out">Sign Out</button>
    </form>

    <h2>Appointments</h2>
    <form id="appointments" action="/users/appointments" method="post">
      <label for="apptDate">Date:</label>
      <input type="date" name="apptDate">
      <label for="apptTime">Time:</label>
      <input type="text" name="apptTime" placeholder="HH:MM AM/PM">
      <label for="apptLocation">Location:</label>
      <input type="text" name="apptLocation" placeholder="Location">
      <label for="apptDoctor">Doctor:</label>
      <input type="text" name="apptDoctor" placeholder="Doctor">
      <label for="apptPhoneNum">Contact Number:</label>
      <input type="text" name="apptPhoneNum" placeholder="XXX-XXX-XXXX">
      <label for="apptCoPay">Copay:</label>
      <input type="number" name="apptCoPay" placeholder="Copay">
      <label for="apptNotes">Notes:</label>
      <input type="text" name="apptNotes" placeholder="Notes">
      <input type="submit" value="Add Appointment">
    </form>

    <h2>Medication</h2>
    <form id="medication" action="/users/medications" method="post">
      <label for="medName">Medication:</label>
      <input type="text" name="medName" placeholder="Name">
      <label for="medDosage">Dosage:</label>
      <input type="text" name="medDosage" placeholder="Dosage">
      <label for="medSideEffects">Side Effects:</label>
      <input type="text" name="medSideEffects" placeholder="Side Effects">
      <label for="medTime">Time:</label>
      <input type="text" name="medTime" placeholder="Time">
      <label for="medCoPay">Copay:</label>
      <input type="number" name="medCoPay" placeholder="Copay">
      <input type="submit" value="Add Medication">
    </form>

    <h2>Food Restrictions</h2>
    <form id="foodRestrictions" action="/users/foodRestrictions" method="post">
      <label for="foodRestrictionsName">Restriction:</label>
      <input type="text" name="foodRestrictionsName" placeholder="Food">
      <label for="foodRestrictionsNotes">Notes:</label>
      <input type="text" name="foodRestrictionsNotes" placeholder="Notes">
      <input type="submit" value="Add Food Restriction">
    </form>

  </body>
</html>
