body{
   background-color: whitesmoke;
   margin: 0 auto;
   padding: 0px 20px 20px 20px;
   font-family: 'News Cycle', sans-serif;
}

/*profile name*/
h2 {
 margin: 10px 0px;
}

/*div headers*/
h3 {
  margin: 5px 0px;
  text-decoration: underline;
}

/*profile info*/
h4 {
  margin: 5px 0px;
}

/*div info*/
h5 {
  margin: 0;
}

.updates {
  text-decoration: underline;
}

label {
  font-size: 13px;
  font-weight: bold;
}

input {
  display: block;
}

select {
  display: block;
}

input[type="submit"] {
  margin: 5px 0px;
}

.sidebar {
   overflow: hidden;
   position: fixed;
   left: 0;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: hidden;
}

.appointments-modal-content,
.restrictions-modal-content,
.medications-modal-content,
.illness-modal-content {
  margin: 40px auto;
  padding: 30px;
  width: 60%;
  height: 500px;
  background-color: white;
  overflow: scroll;
}

#display-appointments,
#display-foods,
#display-medications,
#display-illness-info {
  display: none;
}

#close-add-appt-modal,
#close-add-food-modal,
#close-add-med-modal,
.close-illness-modal {
  float:right;
  margin-top: -10px;
}

.update-profile,
.update-food,
.update-med,
.update-appt,
.illness-modal {
  display: none;
}

#display-illness-info {
  overflow: scroll;
}

.actual-illness-info {
  margin-top: 30px;
}

.actual-illness-info ul {
  margin-left: 20px;
}
