/*

#252839   blue
#f2b632   gold
#677077   dark grey
#b5b5b7   light grey

*/

body{
   background-color: whitesmoke;
   background-image: url('https://i.imgur.com/2vKMAEU.jpg');
   background-size: cover;
   margin: 0 auto;
   padding: 0px 20px 20px 20px;
   font-family: 'Muli', sans-serif;
}

.panel-title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.panel {
  margin: 10px;
}

.user-full-name {
 margin: 10px 0px;
}

.updates {
  margin: 5px 0px;
}

h4 {
  margin: 5px 0px;
}

/*div info*/
h5 {
  margin: 0;
  padding-top: 4px;
  padding-botton: 4px;
}

label {
  font-size: 13px;
  font-weight: bold;
}

input {
  display: block;
}

select {
  display: block;
}

input[type="submit"] {
  margin: 5px 0px;
}

.sidebar {
   overflow: hidden;
   position: fixed;
   left: 0;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  display: hidden;
}

.appointments-modal-content,
.restrictions-modal-content,
.medications-modal-content,
.illness-modal-content {
  margin: 40px auto;
  padding: 30px;
  width: 60%;
  height: 600px;
  background-color: white;
  border: 2px solid #f2b632;
  border-radius: 4%;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  overflow: hidden;
}

#display-appointments,
#display-foods,
#display-medications,
#display-illness-info {
  display: none;
  padding: 40px;
  margin-top: 60px;
  background: rgba(255, 255, 255, 0.5);
}

#display-profile {
  padding: 40px;
  margin-top: 60px;
  background: rgba(255, 255, 255, 0.5);
}

#close-add-appt-modal,
#close-add-food-modal,
#close-add-med-modal,
.close-illness-modal {
  float:right;
  margin-top: -10px;
}

.update-profile,
.update-food,
.update-med,
.update-appt,
.illness-modal {
  display: none;
  padding: 10px;
}

.btn, .btn-primary {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
}

.date-and-time {
  margin: 5px 0px;
}

#display-illness-info {
  overflow: scroll;
}

.actual-illness-info {
  margin-top: 30px;
}

.actual-illness-info ul {
  margin-left: 20px;
}

p {
  margin: 5px 0px;
}
